<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" !--href recebe as rotas do server--  class="nav-link {{#if NavActiveCadastro}} active {{/if}}" aria-current="page">Cadastrar</a></li>
        <li class="nav-item"><a href="/users" !--href recebe as rotas do server-- class="nav-link {{#if NavActiveUsuario}} active {{/if}}">Lista de Usuários</a></li>
    </ul>
</header>